{% extends 'base.html' %}
 
{% block title %}
    Game Page
{% endblock %}

{% block content %}
    <div class="container ">       
        <div class="position-relative overflow-hidden p-3 p-md-3 m-md-3 bg-light text-center " >
            <h1>
                <label type="text" style="color:red"> Math</label>  
                <label type="text" style="color:green"> Daily</label>  
                <label type="text" style="color:purple"> Exercises</label>  
                <label type="text" style="color: yellow"> <strong> <i> ! </i> </strong> </label>   
            </h1>
            <br>                         
    </div>
        <div class="container w-50 pt-3 px-4" s >
            <form method='POST' action='/game' class="form-register " >    
                {{ form.hidden_tag() }}

                <div class="container">
                    {% for op in form.operations  %}                
                        <div class="row justify-content-md-center align-items-center p-2 bg-light " style="border-style: solid; border-color: whitesmoke;" >
                            <div class="col col-md-3"   >
                                <label for="colFormLabel" class="col-sm col-form-label"> 
                                    {{ op.num_operacion }}    
                                        <label class="text fs-5" style="color:#219ebc"> {{ op.factor_a.data }}  </label>  
                                        <i class="bi bi-asterisk symbol "></i>
                                        <label class="text fs-5" style="color:#219ebc"> {{ op.factor_b.data }}  </label>  
                                        <i class="bi bi-chevron-double-right symbol"></i>    
                                 </label>                                    
                            </div>
                            <div class="col-md-auto w-25"  >
                                {{ op.result(class="form-control") }}    
                                {{ op.user_answer(class="form-control") }}                                                                   
                            </div>
                        </div>
                    {% endfor %} 
                </div>
                
                <div class="p-5 text-center">
                    {{ form.submit(class="btn btn-lg btn-outline-danger ") }}
                </div>
            </form>   


  
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script>
        // Set the focus to the 1st exersice
        document.getElementById("operations-0-user_answer").focus();

        // if the fame is in "Minutes" mode, then I add a timer
        if (`{{session['game']['mode']}}` == "Minutes") {
            let gameTime = `{{session['game']['time_played']}}`;
            // 60 is the seconds in a minute, and 1,000 is one second in the system
            let gameTimeInSeconds = (gameTime * 60) * 1000;

            setTimeout(function(){ submit_form(); }, gameTimeInSeconds);  
        }


        function submit_form(){
            console.log("in submit form")
            $("#submit").click()
        };
        
    </script>

{% endblock %}
