{% extends 'base.html' %}
 
{% block title %}
    Game Page
{% endblock %}

{% block content %}
    <div class="container ">       
        <div class="position-relative overflow-hidden p-3 p-md-3 m-md-3 bg-light text-center " >
            <h1>
                <label type="text" style="color:red"> Math</label>  
                <label type="text" style="color:green"> Daily</label>  
                <label type="text" style="color:purple"> Exercises</label>  
                <label type="text" style="color: yellow"> <strong> <i> ! </i> </strong> </label>   
            </h1>
            <br>                         
    </div>
        <div class="container pt-3 px-4" s >
            <form method='POST' action='/game' class="form-register " >    
                {{ form.hidden_tag() }}
                <div class="alert alert-info" role="alert" id="times_up" hidden>
                   Time's up! - This exercise will auto-sumbit.
                </div>

                <div>
                    <h5 style="color:#e76f51">
                        Use Tab to move to the next problem
                    </h5>
                </div>
                <div class="container" >
                    <div class="row  align-items-center align-self-center">
                    {% for op in form.operations  %} 
                        <div class="col-2 p-3 " >               
                            <div class="p-3 border bg-light " style="border-style: solid; border-color: whitesmoke;" >
                                <div class="col "   >
                                    <label for="colFormLabel" class="col-sm col-form-label"> 
                                        {{ op.num_operacion }}    
                                            <label class="text fs-5" style="color:#219ebc"> {{ op.factor_a.data }}  </label>  
                                            <i class="bi bi-asterisk symbol "></i>
                                            <label class="text fs-5" style="color:#219ebc"> {{ op.factor_b.data }}  </label>  
                                            <i class="bi bi-chevron-double-right symbol"></i>    
                                    </label>                                    
                                </div>
                                <div class="col-md-auto "  >
                                    {{ op.result(class="form-control") }}    
                                    {{ op.user_answer(class="form-control") }}                                                                   
                                </div>
                            </div>
                        </div> 
                    {% endfor %}
                    </div> 
                </div>
                
                <div class="p-5 text-center">
                    {{ form.submit(class="btn btn-lg btn-outline-danger ") }}
                </div>
            </form>   


  
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script>
        // Set the focus to the 1st exersice
        document.getElementById("operations-0-user_answer").focus();


        // if the fame is in "Minutes" mode, then I add a timer
        if (`{{session['game']['mode']}}` == "Minutes") {
            let gameTime = `{{session['game']['time_played']}}`;
            // 60 is the seconds in a minute, and 1,000 is one second in the system
            let gameTimeInSeconds = (gameTime * 60) * 1000;

            setTimeout(function(){ inform_times_up(); }, gameTimeInSeconds);  
        }
        
        
        // function that displays a message that the time's up, and then call submit_
        function inform_times_up(){
            document.getElementById("times_up").hidden = false
            document.getElementById("times_up").focus()
            window.scrollTo(0,0)
            setTimeout(function(){ submit_form(); }, 3000);  
        }

        function submit_form(){
            $("#submit").click()
        };
        
    </script>

{% endblock %}