{% extends 'base.html' %}
 
{% block title %}
    Play Page
{% endblock %}

{% block content %}
<!-- <button type="button" class="btn btn-primary">
    Exercises <span class="badge badge-light">4</span>
  </button> -->
    <!-- <h4> 
        Let's configure your game<em>!</em>
    </h4> -->

    <div class=" pt-3 container" style="border-style: solid; border-color: white;" >               
        <div class="container px-4">
            <!-- gx-5 gives the padding between cards -->
            <div class="row " style="border-style: solid; border-color: white;">
                

                <p class="h3 text-center pb-3  text-danger ">

                    Let's configure your game <em class=" text-warning ">!</em>
                    <!-- <small class="text-muted"> Today is a great dat to change yourself</small> -->
                </p>


            </div>
            <div class="row gx-5">
                <!-- Tables selection  -->
                <div class="col">
                    <div class="p-3 border bg-light">
                        
                        <!-- card component -->
                        <div class="card">
                            <div class="card-header">
                              Select tables to practice
                            </div>
                            <div class="card-body">                              
                                <div  class="row  ">
                                    <div class="col-md-3 " >
                                        <label for="inputNumber" class="form-label">From</label>
                                        <input type="number" class="form-control" id="from">
                                    </div>
    
                                    <div class="col-md-3  ">
                                        <label for="inputTo" class="form-label">To</label>
                                        <input type="number" class="form-control" id="to">
                                    </div>
                                </div>

                            </div>
                          </div>
                    </div>
                <!-- Mode  -->                   
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                         <!-- card component -->
                         <div class="card">
                            <div class="card-header">
                              Select mode to practice
                            </div>
                            <div class="card-body">                              
                                <div class="form-check">
                                    <div  class="row pb-3 ">
                                        <div class="col-md-3 " >
                                            <input type="number" class="form-control" id="amount">
                                        </div>
        
                                        <div class="col-md ">                                                 
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                                <label class="form-check-label" for="exampleRadios1">
                                                  Exercises
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                                <label class="form-check-label" for="exampleRadios2">
                                                  Minutes
                                                </label>
                                            </div>
                                        </div>
                                    </div>
    
                                  </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
