{% extends 'base.html' %}
 
{% block title %}
    Play Page
{% endblock %}

{% block content %}

    <div class="container  pt-3 px-4" style="border-style: solid; border-color: white;" >
        <form method='POST' class="form-register " >    
            <!-- the next line is to secure the page from CSTF attacks -->
            {{ form.hidden_tag() }}
            <!-- title seccion -->
            <div class="row text-center" style="border-style: solid; border-color:white;">               
                <div class="titles">                    
                    <p class="h3 pt-3 pb-2 text-indigo ">                    
                        Let's configure your game 
                        <em class="text-warning">!</em>
                    </p>
                    <p class="subTitles pb-4 "> Today is a great day to change yourself</p>
                </div>
            </div>
            <!-- cards selection (tables to practice and mode) -->
            <div class="row gx-5">
                <div class="col">
                    <div class="p-3 border card-bg">                    
                        <p class="font-weight-bold"> Step 1 </p>
                        <!-- TABLES card component -->
                        <div class="card">
                            <div class="card-header instructions">
                                Select tables to practice
                            </div>
                            <div class="card-body">                              
                                <div  class="row  ">
                                    <div class="col-md-3 " >
                                        <label for="inputNumber" class="form-label">From</label>
                                        {{ form.range_from(class="form-select") }}    
                                    </div>
                                    <div class="col-md-3  ">
                                        <label for="inputTo" class="form-label">To</label>
                                        {{ form.range_to(class="form-select") }}    
                                    </div>
                                </div>

                            </div>
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border card-bg">
                        <p class="font-weight-bold"> Step 2 </p>
                        <!-- MODE card component -->
                        <div class="card">
                            <div class="card-header instructions">
                                Select mode to practice
                            </div>
                            <div class="card-body">                              
                                <div class="form-check">
                                    <div  class="row pb-3 ">
                                        <div class="col-md-3 " >
                                            {{ form.amount(class="form-control") }}    
                                        </div>
                                        <div class="col-md ">                                                 
                                                {% for subfield in form.mode %}
                                                <tr>
                                                    <td>{{ subfield }} </td>
                                                    <td>{{ subfield.label }}</td>
                                                    <br>
                                                </tr>
                                                {% endfor %}
                                        </div>
                                    </div>

                                    </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- play btn -->
            <div class="pt-5 text-center">
                {{ form.submit(class="btn btn-lg btn-outline-danger ") }}
            </div>
        </form>
    </div>

    <script>
        // Set the focus to amount of exersices to do, and pre-select the mode as "Exersices"
        document.getElementById("amount").focus();
        document.getElementById("mode-0").setAttribute("checked", "checked");
    </script>


{% endblock %}
